.idea
__pycache__/
data/*
dist/*
*.pyc
bitcoinexchangefh.tar.gz
_windows/*
*.xml
inspection/*
befh/test/itchat.pkl
befh/trade/key.json
befh/OkcoinAPI/Okcoin.json
befh/FinexAPI/Bitfinex.json
befh/BittrexAPI/Bittrex.json
/befh/BittrexAPI/Bittrex.json
